{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div class="jumbotron">
  <h1>珠海链家租房-二手房数据可视化分析</h1>
  <p class="lead">Data visualization analyse of renting a house and second-hand house in Zhuhai Lianjia</p>
</div>
<div class="row">
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="{% static "images/chart.jpg" %}" alt="">
    </a>
  </div>
   <div class="col-xs-6 col-md-6">
   <p class="lead middle">
     数据分析融入公司运营中来优化的决策制度并提高业绩，通过直观明了的可视化方式向公司决策者展示他们需要的分析结果，帮助他们更好地理解数据分析结果并进一步进行优化决策分析。
   </p>
   </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <img src="{% static "images/lianjia.jpg" %}" alt="">
    </a>
  </div>
   <div class="col-xs-6 col-md-6">
   <p class="lead">
    链家目前已覆盖北京、上海、广州、深圳、天津、武汉、成都、青岛、重庆、大连、合肥等28个地区，全国门店数量约8000家，旗下经纪人超过13万名。为不断提高购房服务体验，链家积极布局线上平台。
目前线上已覆盖PC端、链家APP、链家网手机版等终端，是具备集房源信息搜索、产品研发、大数据处理、服务标准建立为一体的综合型房产服务平台。平台为买卖双方用户提供全面真实的房产相关信息及咨询服务，并满足用户估价、约带看等个性化服务。旨在不断提高服务效率、提升服务体验，为用户提供更安全、更便捷、更舒心的综合房产服务。链家以“推动行业进步，让房屋交易不再难”为品牌使命，希望通过持之以恒的创新以及新技术的探索和运用，建立和有效管理高质量的房地产服务标准，推动行业进步。
   </p>
   </div>
</div>
</div>    
{% endblock %}
